{%- for info in data -%}
    {%- set line = [] -%}
    {%- if not loop.first -%}
        {%- for key in fields -%}
            {%- if line.append(info[key]) -%}{%- endif -%}
        {%- endfor -%}
{{ line|join("#") }}
{% if True %}{% endif %}
    {%- endif -%}
{%- endfor -%}