{%- set fields = [
                    'processor',
                    'physicalid',
                    'coreid',
                    'cpucores',
                    'modelname',
                    'cpuMHz'
                ] 
-%}

{% include 'general/long.j2' %}