{%- set fields = [
                    'hwpath',
                    'device',
                    'srcport',
                    'targetport',
                    'rportstate',
                    'id',
                    'model',
                    'vendor',
                    'size'
                ] 
-%}

{% include 'general/long.j2' %}