{%- set fields = [
                    'addr',
                    'intf',
                    'device',
                    'vendor',
                    'mac',
                    'operstate',
                    'speed',
                    'duplex'
                ] 
-%}

{% include 'general/long.j2' %}