{%- set fields = [
                    'intf',
                    'sysfspath',
                    'device',
                    'vendor',
                    'driver',
                    'mac',
                    'operstate',
                    'speed',
                    'duplex',
                    'mtu',
                    'localcpus',
                    'localcpulist',
                    'numanode',
                    'irq',
                    'addr'
                ] 
-%}

{% include 'general/json.j2' %}