{%- set fields = [
                    'vendor',
                    'sysfspath',                    
                    'nodename',
                    'portname',
                    'portstate',
                    'porttype',                    
                    'speed',
                    'fabricname',
                    'portid',
                    'symbolicname',
                    'supportedclasses',
                    'supportedspeeds',
                    'addr',
                    'driver',
                    'maxnpivvports',
                    'npivvportsinuse',
                    'localcpus',
                    'localcpulist',
                    'numanode',
                    'irq'
                ] 
-%}

{% include 'general/json.j2' %}