{%- set fields = [
                    'vendor',
                    'addr',
                    'portname',
                    'porttype',
                    'portstate',
                    'speed'
                ] 
-%}

{% include 'general/long.j2' %}