{%- set fields = [
                    'handle',
                    'Size',
                    'Type',
                    'Speed',
                    'TotalWidth',
                    'Manufacturer',
                    'FormFactor',
                    'DataWidth',
                    'SerialNumber',
                    'PartNumber',
                    'Locator',
                    'BankLocator',
                    'Rank'
                ] 
-%}

{% include 'general/json.j2' %}