{%- set fields = [
                    'handle',
                    'Size',
                    'Type',
                    'Speed',
                    'TotalWidth',
                    'Manufacturer',
                    'FormFactor'
                ] 
-%}

{% include 'general/short.j2' %}