{%- set fields = [
                    'addr',
                    'vendor',
                    'device',
                    'class',
                    'subclass',
                    'subdevice',
                    'driver',
                    'sysfspath',
                    'localcpus',
                    'localcpulist',
                    'numanode',
                    'irq'
                ] 
-%}

{% include 'general/json.j2' %}