{%- set fields = [
                    'SystemManufacturer',
                    'SystemSerialNumber',
                    'SystemProductName',
                    'SystemUUID',
                    'ChassisManufacturer',
                    'ChassisSerialNumber'
                ] 
-%}

{% include 'general/short.j2' %}