{%- set fields = [
                    'SystemManufacturer',
                    'SystemSerialNumber',
                    'SystemProductName',
                    'SystemUUID',
                    'ChassisManufacturer',
                    'ChassisSerialNumber',
                    'machinetype',
                    'OSCoreCount'
                ] 
-%}

{% include 'general/long.j2' %}