{%- set fields = [
                    'device',
                    'id',
                    'major',
                    'minor',
                    'hwpath'
                    'vendor',
                    'model',
                    'srcport',
                    'targetport',
                    'rportstate',
                    'firmware',
                    'iodone_count',
                    'ioerror_count',
                    'iorequest_count',
                    'queue_depth',
                    'scsi_level',
                    'state',
                    'timeout'
                ] 
-%}

{% include 'general/json.j2' %}